<%- include('../partials/adminsimheader') -%>

  <div class="contain">
    <div class="row">
      <div class="col-3">
        <%- include('../partials/adminSidebar') -%>
      </div>
      <div class="col-6">
        <form action="" method="post" enctype="multipart/form-data" style="border:1px solid #ccc">
          <div class="container" style="border: none;">
            <h1>Edit New Book</h1>
            <p>Please fill in this form to Edit the Book.</p>
            <hr>

            <div class="row">
              <div class="col-6">
                <label for="name"><b>Book Tile</b></label>
                <input type="text" placeholder="Enter Title" name="title" value="<%=user.title%>"
                  style="padding: 5px 20px; font-size: 12px; border-radius: 5px; background-color: white;" required>
              </div>
              <div class="col-6">
                <label for="mobile"><b>Author Name</b></label>
                <input type="text" placeholder="Enter Author Name" name="author" value="<%=user.author%>"
                  style="padding: 5px 20px; font-size: 12px; border-radius: 5px; background-color: white;" required>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <label for="image"><b>Cover page/Image</b></label>
                <input type="file" name="image" value="<%=user.image%>"
                  style="padding: 5px 20px; font-size: 12px; border-radius: 5px; background-color: white;" required>
              </div>
              <div class="col-6">
                <label for="image"><b>Book Category</b></label>
                <select class="form-select" name="category" aria-label="Default select example"
                  value="<%=user.category%>"
                  style="padding: 8px 20px; font-size: 12px; border-radius: 5px; background-color: white;">
                  <option selected>Open this select menu</option>
                  <option value="Fiction">Fiction</option>
                  <option value="Non-fiction">Non-fiction</option>
                  <option value="Mystery">Mystery</option>
                  <option value="Programming">Programming</option>
                  <option value="Science fiction">Science fiction</option>
                  <option value="Fantasy">Fantasy</option>
                  <option value="Horror">Horror</option>
                  <option value="Biography">Biography</option>
                  <option value="History">History</option>
                  <option value="Self-help">Self-help</option>
                </select>
              </div>
            </div>

            <label for="description"><b>Description</b></label>
            <input type="text" name="description" id="" name="description" value="<%=user.description%>" class="w-100"
              cols="80" rows="4">
            <br>
            <br>
            <input type="hidden" name="user_id" value="<%=user._id%>">

            <div class="clearfix">
              <button type="submit" class="signupbtn w-100">Upload Book</button>
            </div>



          </div>
        </form>
      </div>
    </div>
  </div>


  <% if(typeof message !=='undefined' ){ %>
    <div class="container">
      <div class="col-8 w-50" style="margin: 10px auto;">
        <p style="color:white; padding: 2rem; background-color: blue; border-radius: 5px;">
          <%= message %>
        </p>
      </div>
    </div>
    <% } %>

      <%- include('../partials/adminsimfooter') -%>