<%- include('../partials/adminsimheader') -%>

    <div class="contianer">
        <div class="row">
            <div class="col-3">
                <%- include('../partials/adminSidebar') -%>
            </div>

            <div class="col-8 ">
                <div class="col-12">
                    <%- include('../partials/admin_navbar') -%>
                </div>
                <div class="col-12" id="user_list">

                    <div class="container">
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-6 d-flex justify-content-start align-items-center">
                                <a class="btn btn-sm btn-primary w-25 mb-5" href="/admin/newinvoice">Add New</a>
                            </div>
                            <div class="col-6">
                                <form class="d-flex" id="search" role="search">
                                    <input class="form-control " type="search" name="search" placeholder="Search" aria-label="Search">
                                    <button class="sbtn" type="submit">Search</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="col-12">
                                    <table width="100%">
                                        <tr>
                                            <th>Name</th>
                                            <th>Product_name</th>
                                            <th>Unit</th>
                                            <th>Price</th>
                                            <th>Amount</th>
                                            <th>Action</th>


                                        </tr>
                                        <!-- <tr> -->
                                        <% if(user.length> 0){ %>

                                            <% for (var i=0; i < user.length ; i++) { %>
                                                <tr>

                                                    <td>
                                                        <%= user[i].name %>
                                                    </td>
                                                    <td>
                                                        <%= user[i].product_name %>
                                                    </td>
                                                    <td>
                                                        <%= user[i].unit %>
                                                    </td>
                                                    
                                                    <td>
                                                        <%= user[i].price %>
                                                    </td>
                                                    <td>
                                                        <%= user[i].price %>
                                                    </td>
                                                   
                                                    <td>
                                                        <a style="margin-right: 10px; background-color: green; "
                                                            class="sbtn"
                                                            href="/admin/newinvoice_edit?id=<%= user[i]._id %>">Edit</a>
                                                        <a class="sbtn"
                                                            href="/admin/newinvoice_delete?id=<%= user[i]._id %>">Delete</a>
                                                           
                                                            <a class="sbtn"   style="background-color: rgb(28, 0, 128); "
                                                            href="/admin/newinvoice_view?id=<%= user[i]._id %>">View</a>
                                                    
                                                    
                                                    
                                                    
                                                        </td>




                                                </tr>
                                                <% } %>
                                                    <% } else{ %>
                                                        <tr>
                                                            <td colspan="5">
                                                                <h1 class="p-5">UserNotFound</h1>
                                                            </td>
                                                        </tr>
                                                        <% } %>
                                                            </tr>


                                    </table>
                                    <% for(let j=1; j <=totalPages; j++){ %>
                                        <!-- <a class="" href="?page=<%= j %>"><%= j %></a> -->

                                        <% } %>

                                            <br>
                                            <br>
                                            <nav aria-label="Page navigation example">
                                                <ul class="pagination">
                                                    <li class="page-item"><a class="page-link"
                                                            href="?page=<%=previous%>">Previous</a></li>
                                                    <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                                                    <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
                                                    <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
                                                    <li class="page-item"><a class="page-link"
                                                            href="?page=<%=next%>">Next</a></li>
                                                </ul>
                                            </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

        </div>
    </div>


    <%- include('../partials/adminsimfooter') -%>