
<%- include('../partials/adminsimheader') -%>


<div class="contain">
    <div class="row">
        <div class="col-3">
            <%- include('../partials/adminSidebar') -%>
        </div>
        <div class="col-7" id="forom">
            <div class="row">
                <div class="col-12 mt-5 mb-5" style="text-align: center;">
                    <h1>EDIT THE USER</h1>
                </div>
            </div>
            <form action="" method="post" enctype="multipart/form-data" id="search" class="row g-3">
                <div class="col-md-12">
                    <label for="Name" class="form-label">Name</label>
                    <input type="text" name="name" value="<%=user.name%>" required class="form-control" id="Name">
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Mobile</label>
                    <input type="text" name="mobile"value="<%=user.mobile%>" class="form-control" id="inputPassword4">
                </div>
                <div class="col-6">
                    <br>
                    <br>
                    <label for="">Verified</label>
                    <input type="radio" name="verify" value="1" <% if(user.is_verified == 1){ %> checked <%} %> >
                    <label for="">UnVerified</label>
                    <input type="radio" name="verify" value="0" <% if(user.is_verified == 0){ %> checked <%} %> >
                </div>
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Image</label>
                    <input type="file" name="image" value="<%=user.image%>" class="form-control" required id="inputAddress">
                </div>
                <div class="col-md-12">
                    <label for="inputEmail4" class="form-label">Email</label>
                    <input type="email" name="email" value="<%=user.email%>" required class="form-control" id="inputEmail4">
                </div>
                <div class="col-md-12">
                    <input type="hidden" name="user_id" value="<%=user._id%>">
                </div>
                <div class="col-12">
                    <button type="submit" value="register" class="btn btn-primary w-100">submit</button>
                </div>
            </form>
           
        </div>
        
        <%
        if(typeof message !== 'undefined'){
            %>
            <div class="container">
                <div class="col-8 w-50" style="margin: 10px auto;">
                    <p style="color:white; padding: 2rem; background-color: blue; border-radius: 5px;"><%= message %></p>
                </div>
            </div>
            <%
        }
        %>
        
        </div>

    </div>

   
<%- include('../partials/adminsimfooter') -%>
