
<%- include('../partials/simheader') -%>

<div class="contain">

    <div class="row">
       

        <div class="col-4">
            
            <%- include('../partials/userSidebar') -%>

        </div>


        <div class="col-7 mt-5" >

            <!-- <img src="/image/<%=user.image%>" class="img-fluid img-thumbnail" alt="<%=user.image%>"style="width:100px; border-radius: 50%; text-align:center;"> -->
    
            <form action="" method="post" enctype="multipart/form-data" class="row g-3">
                <div class="col-md-12">
                    <label for="Name" class="form-label">Name</label>
                    <input type="text" name="name" value="<%=user.name%>" required class="form-control" id="Name">
                </div>
                <div class="col-md-12">
                    <input type="hidden" name="user_id" value="<%=user._id%>">
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Mobile</label>
                    <input type="text" name="mobile"value="<%=user.mobile%>" class="form-control" id="inputPassword4">
                </div>
                <div class="col-6">
                    <label for="inputAddress" class="form-label">Image</label>
                    <input type="file" name="image" value="<%=user.image%>" class="form-control" required id="inputAddress">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Email</label>
                    <input type="email" name="email" value="<%=user.email%>" required class="form-control" id="inputEmail4">
                </div>
                <div class="col-12">
                    <button type="submit" value="register" class="btn btn-primary w-100">submit</button>
                </div>
        
            </form>
        </div>
        
        <%
        if(typeof message !== 'undefined'){
            %>
            <div class="container">
                <div class="col-8 w-50" style="margin: 10px auto;">
                    <p style="color:white; padding: 2rem; background-color: blue; border-radius: 5px;"><%= message %></p>
                </div>
            </div>
            <%
        }
        %>
        

        </div>
    </div>

  
<%- include('../partials/simfooter') -%>
